################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New_Food/UpgradeLog2.htm
